<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="InettBankingV10">

	<test name="Banking App test">
		<parameter name="browser" value="Chrome">
			<classes>

				<class name="com.inetbanking.testCases.TC_LoginPage_001">

				</class>

			</classes>
		</parameter>
	</test>

</suite>